/* line 1, styles.scss */
html {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
}

/* line 8, styles.scss */
body {
  line-height: 1.15;
}

/* line 12, styles.scss */
table {
  width: 75%;
  border-collapse: collapse;
  padding: 5px;
}

/* line 20, styles.scss */
th, td {
  padding: 2px;
  text-align: left;
}

/* line 25, styles.scss */
th[scope="col"] {
  background: #ccc;
}

/* line 29, styles.scss */
tr:nth-child(even) {
  background: #eee;
}

/* line 33, styles.scss */
tr:nth-child(odd) {
  background: #ddd;
}

/* line 38, styles.scss */
.images {
  display: flex;
  flex-wrap: wrap;
}
