html {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
}

body {
  line-height: 1.15;
}

table {
    width: 75%;
    border-collapse: collapse;
//  border: 1px solid black;
    padding: 5px;
//  table-layout: fixed;
}
// Formatting table header and table data
th, td {
  padding: 2px;
  text-align: left
}
// Table header background
th[scope="col"] {
  background: #ccc;
}
// Table background even rows
tr:nth-child(even) {
  background: #eee;
}
// Table backgroup odd rows
tr:nth-child(odd) {
  background: #ddd;
}

// General properties for "images" class
.images {
  display: flex;
  flex-wrap: wrap;
}
