{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
    {%  if PageTitle %}
        <h2>{{ PageTitle }}</h2>
    {% else %}
        <h2>Active Listings</h2>
    {% endif %}

    {% if bid_list %}
        <table class="table">
            <tr>
                <th class="span2">Title</th>
                <th class="span2">Category</th>
                <th class="span1">Starting Bid</th>
                <th class="span1">Your Bid</th>
                <th class="span1">Highest Bid</th>
                <th class="span1">Listing Active</th>>
                <th class="span4">Status of your Bid</th>
            </tr>
            {% for bid in bid_list %}
                <tr>
                    <td>
                        <a href="{% url 'detail' bid.title_id_id %}">{{ bid.title_id.title }}</a>
                    </td>
                    <td>{{ bid.title_id.category }}</td>
                    <td>$ {{ bid.title_id.starting_bid }}</td>
                    <td>$ {{ bid.bid_amount }}</td>
                    <td>$ {{ bid.title_id.max_bid }}</td>
                    <td>{{ bid.title_id.active }}</td>
                    <td>
                        {% if bid.title_id.active %}
                            {% if bid.bid_amount == bid.title_id.max_bid %}
                                Your bid is the highest for this item
                            {% else %}
                                You are outbid on this item
                            {% endif %}
                        {% else %}
                            {% if bid.bid_amount == bid.title_id.max_bid %}
                                <strong>You have won this auction</strong>
                            {% else %}
                                Auction Closed. You were outbid.
                            {% endif %}

                        {% endif %}

                    </td>

                </tr>
            {% endfor %}
        </table>

    {% else %}
        <p>No active listings found</p>
    {% endif %}
    </div>

{% endblock %}