{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block body %}
    <h2>Post a Comment on this Item</h2>
    <div class="container">
        <div class="images">
            <img src="{{ listing_details.image }}" alt="image">
        </div>
        <p>Listing Title: <strong>{{ listing_details.title }}</strong></p>

        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <br>

            <input type="submit" class="btn btn-primary" value="Save">
        </form>
    </div>

{% endblock %}